MS_GATEWAY_PORT=3000

NATS_SERVERS=localhost:4222

MS_PAYMENTS_PORT=3003


#https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET=

STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel

#https://dashboard.stripe.com/test/workbench/webhooks/we_1QmqTtBRB0KjGhPDZtToyWfC
# Este es el signing secret de webhook
STRIPE_ENDPOINT_SECRET=

AUTH_DATABASE_URL=mongodb://mongo-db:27017

JWT_SECRET=asdlasd123asd@@!8