[submodule "ms-gateway"]
	path = ms-gateway
	url = https://github.com/vicse/ms-gateway-nestjs.git
[submodule "ms-products"]
	path = ms-products
	url = https://github.com/vicse/ms-products-nestjs.git
[submodule "ms-orders"]
	path = ms-orders
	url = https://github.com/vicse/ms-orders-nestjs.git
[submodule "ms-payments"]
	path = ms-payments
	url = https://github.com/vicse/ms-payments-nestjs.git
[submodule "ms-auth"]
	path = ms-auth
	url = https://github.com/vicse/ms-auth-nestjs.git
